/* Global Reset & Typography*/

* {
    box-sizing: border-box;
    margin: 0; /* remove default spacing */
    padding: 0;
}

body {
    /* make body span the whole page length even if content stops early */
    min-height: 100vh;
    display: flex;  
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;  /* uses fallback fonts */
    line-height: 1.6;
    background-color: #f4f6f8;
    color: #333;
}


main {
    /* if screen shrinks main can grow and shrink */
    flex-grow: 1;
    flex-shrink: 1;
    /* fill space evenly */
    flex-basis: 0; 
}
/* Header & Navigation*/

header {
    background-color: #354356;
    color: white;
    padding: 1rem 2rem; /* topandBottom=1, LeftandRight=2 ;root em*/ 
}

nav {
    display: flex; /* child layed out in a row */
    justify-content: space-between; /* distributed except ends*/
    align-items: center;
}

nav ul {
    list-style: none; /*remove bullets*/
    display: flex;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Layout */

main {
    padding: 2rem;
}

/* Cards (Dashboard / Profile / Gallery) */

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Dashboard Layout (Flexbox) */

.dashboard-container {
    display: flex;
    flex-wrap: wrap; /* Move content to next row on small screens */
    gap: 1.5rem;
}

.dashboard-container .card {
    flex-grow: 1; /* card wil grow if space exists; 0 - will not grow at all */
    flex-shrink: 1; /* card wil shrink */
    flex-basis: 300px; /* preferred width wil shrink */
}   

/* Login Form Styling */

form {
    max-width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block; /* each label on new line */
    margin-top: 1rem;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 1px solid #bbb;
    border-radius: 3px;
}

button {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.7rem;
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #2c3e50;
}

/* Gallery Styling */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

figure {
    margin: 0;
}

figure img {
    max-width: 100%;
    border-radius: 4px;
}

figcaption {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
}

.gallery img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}   

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}


/* Footer */

footer {
    text-align: center;
    padding: 1rem;
    background-color: #eee;
    margin-top: 2rem;
}
